{% block subject %} Ecco / Registro{% endblock %}

{% block body_text %}
¡Gracias por registrarse!
<br>
Para poder confirmar su registro debe acceder al siguiente enlace: <a href="{{confirmationUrl}}">aquí</a>.
<br>
Muchas gracias,
<br>
ECCO - Evaluación del Clima de Conservación
<br>
<br>
No responda este mensaje. Esta es una dirección de correo electrónico que sólo envía notificaciones y no acepta mensajes entrantes.
<br>
{% endblock %}
