{% block subject %} Ecco / Registro{% endblock %}

{% block body_text %}
¡Gracias por descargar nuestra Aplicación!
<br>
Para poder comenzar a utilizarla debe confirmar su registro desde <a href="{{confirmationUrl}}">aquí</a>.
<br>
Muchas gracias,
<br>
INTA – Agencia Virtual
<br>
<br>
No responda este mensaje. Esta es una dirección de correo electrónico que sólo envía notificaciones y no acepta mensajes entrantes.
<br>
{% endblock %}
