{% extends 'user/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% trans_default_domain 'FOSUserBundle' %}

{% set page =
    {
        "title": "Registro exitoso",
        "preclass": "login"
    }
%}

{% block content %}

  <p> CONFIRMADO! </p>
{% endblock %}
