{% extends 'user/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% trans_default_domain 'FOSUserBundle' %}

{% set page =
    {
        "title": "Registro exitoso",
        "preclass": "login"
    }
%}

{% block content %}

  <p> su cuenta fue confirmada correctamente </p>
  <a class="btn btn-primary btn-block btn-flat" href="{{ path('fos_user_security_login') }}">Ingresar</a>

{% endblock %}
