{% extends 'user/layout.html.twig' %}

{% set page =
    {
        "title": "Recuperar contraseña",
        "preclass": "login"
    }
%}

{% block content %}
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

          <div class="form-group has-feedback {% if invalid_username is defined %}has-error{% endif %}">
            <label>Nombre de usuario*</label>
            <input type="text" class="form-control" id="username" name="username" required="required" placeholder="Ingrese nombre de usuario"/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback {% if invalid_username is defined %}has-error{% endif %}">
            <label>Repetir nombre de usuario*</label>
            <input type="text" class="form-control" id="usernameConfirm" name="usernameConfirm" required="required" placeholder="Repetir nombre de usuario"/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            <span class="help-block confirmacion-username">los nombre de usuario no coinciden</span>
            <div class="help-block with-errors">
                {% if invalid_username is defined %}
                    El usuario no existe, o no posee habilitada la restauración de contraseña.
                {% endif %}
            </div>
          </div>

        <div class="row">
            <div class="col-xs-8">
                <a href="{{ path('fos_user_security_login') }}">Ingresar</a>
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Restaurar</button>
            </div>
        </div>
    </form>
{% endblock %}
