<html>
<body>
    Estimada/o {{ user.username }} su solicitud de seguimiento a la biblioteca
    {{ library.name }} se encuentra pendiente de aceptación.<br><br>
    
    Saludos cordiales.<br>
    <br><br>
    Este es un mensaje automático, no lo responda.
</body>
</html>
